<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title text-danger">{{ vehiculo.placa | uppercase  }}</h4>
    <h5 class="card-text">{{ vehiculo.tipoVehiculo | titlecase }}</h5>
    <p class="card-text">Fecha Ingreso:</p>
    <p class="card-text" style="font-weight: bold">{{vehiculo.fechaEntrada | date:'dd/MM/yyyy hh:mm a'}}</p>

    <button type="button" (click)="openModalRemoveVehiculo()" class="btn btn-danger">Registrar Salida</button>
  </div>
</div>
