<div class="modal-header">
  <h5 class="modal-title">Registrar Vehículo</h5>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #form="ngForm" (submit)="submitForm(form)">
  <div class="modal-body">
    <div class="form-group">
      <label for="exampleFormControlInput1">Placa</label>
      <input
        ngbAutofocus
        required
        [(ngModel)]="vehiculo.placa"
        name="placa"
        type="text"
        class="form-control"
        maxlength="10"
        minlength="2"
        placeholder="Placa"
        #placa="ngModel"
      />

      <div
        *ngIf="
          placa.invalid && (placa.dirty || placa.touched || form.submitted)
        "
        class="alert alert-danger"
      >
        <div [hidden]="!(placa.errors && placa.errors.required)">
          La placa es requerida
        </div>

        <div [hidden]="!(placa.errors && placa.errors.maxlength)">
          La placa debe tener maximo 10 caracteres.
        </div>

        <div [hidden]="!(placa.errors && placa.errors.minlength)">
          La placa debe tener minimo 2 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Tipo Vehículo</label>
      <select
        class="form-control"
        name="tipoVehiculo"
        [(ngModel)]="vehiculo.tipoVehiculo"
      >
        <option
          *ngFor="let tipoVehiculo of getTipoVehiculoValues(); let i = index"
          [ngValue]="i"
          >{{ tipoVehiculo | titlecase }}</option
        >
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Cc</label>
      <input
        [disabled]="vehiculo.tipoVehiculo === 1"
        required
        min="49"
        max="1500"
        appNumberValidator
        [(ngModel)]="vehiculo.cc"
        name="cc"
        type="number"
        class="form-control"
        placeholder="cc"
        #cc="ngModel"
      />

      <div
        *ngIf="
          cc.invalid ||
          ( ((cc.value < 49 || cc.value > 1500) && !cc.disabled) && (cc.dirty || cc.touched || form.submitted))
        "
        class="alert alert-danger"
      >
        <div [hidden]="!(cc.errors && cc.errors.required)">
          Los cc son requeridos
        </div>

        <div
          [hidden]="
            !(cc.errors && cc.errors.numbervalidator && !cc.errors.required)
          "
        >
          Los cc tienen que ser validos
        </div>

        <div [hidden]="cc.value >= 49 || cc.disabled">
          Los cc tienen que ser mayor o igual a 49
        </div>

        <div [hidden]="cc.value <= 1500 || cc.disabled">
          Los cc tienen que ser menor o igual a 1500
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success">Registrar vehiculo</button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="activeModal.dismiss('Cancel')"
    >
      Cancelar
    </button>
  </div>
</form>
